body {
    margin: 0 auto;
}

h1 {
    color: red;
}

div {
    margin-left:550px; 
    margin-right:550px; 
    width:auto;
}

div > a {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
}

div > a:hover {
    color:black;
    background-color: yellow;
    
}